.boxContent{
  background: #FFFFEA;
  width: 390px;
  height: 844px;
  background-image: url(/images/lieBackground.png);
  margin: 0 auto;
}

.mainContent{
  width: 390px;
  height: 584px;
}

.mainContent h2{
  font-size: 28px;
  padding-top: 60px;
  text-align: center;
  margin: 0;
}

.threadContent{
  width: 390px;
  height: 460px;
  /* background: tomato; */
  margin-top:20px ;
  overflow: scroll;
}

.threads{
  width: 340px;
  height: 40px;
  background: #fefefe;
  border-bottom: #9CC5F1 3px solid;
  margin: 0 auto 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.threadsText{
  width: 240px;
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.threadsText p{
  margin: 0;
  line-height: 32px;
}
.niceContent{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* margin-right: 40px; */
}
.niceContent figure{
  width: 24px;
  height: 24px;
  margin: 0;
}
.niceContent figure image{
  width: 100%;
  height: 100%;
}
.niceContent p{
  margin: 0;
  font-size: 8px;
}
.postTime{
  font-size: 8px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  margin: 0;
}

.footerContent{
  width: 390px;
  height: 260px;
  background: tomato;
  display: flex;
  justify-content: space-around;
}
.features{
  width: 110px;
  height: 260px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.usoMuseum{
  width: 80px;
  height: 80px;
}
