.boxContent{
  background: #FFFFEA;
  width: 390px;
  height: 844px;
  background-image: url(/images/lieBackground.png);
}
.logoContent{
  width: 100%;
  height: 350px;
  /* background:tomato; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
}
.logoContent figure{
  width: 210px;
  height: 160px;
  background: #FFFFEA;
  /* padding-top: 200px; */
  margin: 0 auto;
}
.logoContent figure img{
  width: 100%;
  height: 100%;
}
.buttonContent{
  width: 390px;
  height: 494px;
  /* background: tomato; */
}
.buttonContent h2{
  font-size: 16px;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.button{
  margin-top: 100px;
}

a.btnEmergency {
  position: relative;
  display: block;
  width: 160px;
  height: 130px;
  margin: 0 auto;
}

a.btnEmergency:hover .btnEmergencyTop {
  top: 10px;
  height: 40px;
}

a.btnEmergency:active .btnEmergencyTop {
  top: 20px;
  height: 30px;
}

.btnEmergencyTop {
  position: absolute;
  top: 0;
  left: 20px;
  width: 120px;
  height: 45px;
  margin-top:25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0 0 50% 50%;
  background: #d66b6b;
}

.btnEmergencyTop:before {
  position: absolute;
  top: -25px;
  left: 0;
  width: 120px;
  height: 45px;
  content: "";
  border-radius: 80px / 30px;
  background: #e8aaaa;
}

.btnEmergencyTop span {
  font-size: 38px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  -webkit-transform: scaleY(0.75);
  transform: scaleY(0.75);
  text-align: center;
  color: #f3f2f2;
  font-size: 20px;
}

.btnEmergencyBottom {
  position: absolute;
  top: 100px;
  left: 0;
  width: 160px;
  height: 64px;
  border-radius: 100px / 40px;
  background: #d8e4ea;
  -webkit-box-shadow: 0 8px 0 #c4cacc;
  box-shadow: 0 8px 0 #c4cacc;
}


